
.block-ext{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: rgba(0,0,0,.85);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .block-int{
  margin: auto;
  z-index: 10001;
  }